/* index.css */

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #000; /* dark background like Figma */
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
@keyframes slide {
  0% { transform: translateX(0%); }
  30% { transform: translateX(0%); }
  33% { transform: translateX(-100%); }
  63% { transform: translateX(-100%); }
  66% { transform: translateX(-200%); }
  96% { transform: translateX(-200%); }
  100% { transform: translateX(0%); }
}

.animate-slide {
  display: flex;
  width: 300%; /* 3 images */
  animation: slide 12s infinite;
}
